html{
  scroll-behavior: smooth;
  font-size: 10px;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 0, 0));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  list-style: none;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 25px;
  border: 1px solid rgb(167, 1, 197);
}

h1{
  color: rgb(167, 1, 197);
  font-size: 3.6rem;
  font-weight: 100;
}

.header{
  height: 35%;
}

.header__photo{
  float: left;
  margin: 0 25px 25px 0;
}

.nav{
  margin: 0 0 25px 0;
}

.nav__list li{
  line-height: 2.7rem;
}

a{
  color: rgb(167, 1, 197);
  font-size: 2rem;
  text-decoration: none;
  transition: 0.9s;
}

a:visited{
  color: white;
}

a:hover{
  outline: 1px solid rgb(0, 0, 0);
}

h2{
  font-weight: 100;
  color: rgb(167, 1, 197);
}

main{
  margin: 0 0 25px 65px;
  font-size: 2rem;
  line-height: 2.7rem;
}

main section h2{
  margin: 25px 0 25px 0;
}

footer{
  border: 1px solid rgb(167, 1, 197);
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github{
  display: block;
}

.year{
  display: block;
}

.logo{
  width: 70px;
}

@media (max-width: 768px) {
  .code{
    display: none;
  }
  main{
    margin: 0 0 25px 0;
  }
}