html{
  scroll-behavior: smooth;
  font-size: 10px;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(255, 255, 255));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  list-style: none;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 25px;
}

h1{
  color: rgb(167, 1, 197);
  font-size: 3.6rem;
  font-weight: 100;
}

.header{
  height: 35%;
}

.header__photo{
  float: left;
  margin: 0 25px 25px 0;
}

.nav{
  margin: 0 0 25px 0;
}

.nav__list li{
  line-height: 2.7rem;
}

a{
  color: rgb(167, 1, 197);
  font-size: 2rem;
  text-decoration: none;
}

a:visited{
  color: white;
}

h2{
  color: rgb(167, 1, 197);
}

.contacts, .about, .skills, .code, .experience, .english{
  margin: 0 0 25px 65px;
  font-size: 2rem;
}

.contacts__self-contacts{
  line-height: 2.7rem;
  margin: 25px 0 0 0;
}

.about__text{
  margin: 25px 0 0 0;
  line-height: 2.7rem;
}